/**********************************MAIN.HTML***************************************************** */

body{
	background-color:#ffb0c3;
}
header{
	font-family: 'Caveat Brush', cursive;
	font-size: 100px;
}
#tilt-matrix{
	float:right;
	transform: rotate(-36.72745321626415deg);
	opacity:0.2;
	margin-top:-130px;
	margin-right:-60px;
	width:400px;
	height:400px;
	background-image:url("/static/images/tilt-grid.png");
	background-repeat:no-repeat;
}

#play-button{
	margin-top:130px;
	margin-left:800px;
	width:100px;
	height:100px;
	background-repeat:no-repeat;
	text-align: center;
	font-size: 40px;
	font-family: fantasy;
}

#matrix{
	float: left;
	margin-left: 200px;
	width:506px;
	height:560px;
	background-image: url(/static/images/notepad.png);
	background-size: contain;
	background-repeat:no-repeat;
}

#top-mat{
	float: left;
	margin-left: 40px;
	margin-top: 100px;
	width:360px;
	height:560px;
	background-image: url(/static/images/tilt-grid.png);
	background-size: contain;
	background-repeat:no-repeat;
}