/* ****************** Body, head etc ****************** */
body {
	margin: 0;
	padding: 0;
	background-color:#FF7E9D;
}

#header {
	float: right;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 2rem;
	color: #eee;
	text-align: center;
	height: 60px;
	padding-top: 9px;
	
	margin-top: 0px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}

p {
	font-size: 14pt;
	font-weight: bold;
	font-family: Sans;
	text-align: center;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a {
	font-family: 'Balsamiq Sans', cursive;
	text-decoration: none;
	color: black;
	
}

a:hover {
	color: black;
}
a:visited {
	color: black;
}

/* ****************** Table style ****************** */
#tab-tic-tac-toe {
	float: right;
	margin-top: 100px;
	margin-right: 250px;
	padding: 5px;
	font-size: 4em;
	font-family: Sans;
	color: #444;
	background: #F8F8F8;
	width: 350px;
	height: 340px;
	text-align: center;
	vertical-align: center;
	border: 1px solid #CECECE;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #CCC;
}

/*Column style*/
#tab-tic-tac-toe td {
	
	font-family: 'Balsamiq Sans', cursive;
	border-collapse:collapse;
	border-left: 5px solid #CCC;
	border-bottom: 5px solid #CCC;
}

#tab-tic-tac-toe td:first-child {
	border-left: none;
}

#tab-tic-tac-toe tr:last-child td {
	border-bottom: none;
}

/*Cells*/
#tab-tic-tac-toe td {
	cursor: pointer;
	height: 95px;
	width: 95px;
}

.common-button{
	cursor: pointer;
	height: 95px;
	width: 95px;
	border: none;
	visibility: hidden;
}

#tab-tic-tac-toe td:hover {
	background: #ECECEC;
}

/* ****************** Restart Button ****************** */


#bnt-restart:hover {
	background: #1DC5FF;
}

#bnt-restart:active {
	background: #0787B3;
}

#bnt-restart:disabled {
	color: #444;
	background: #CECECE;
}

#message{
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.25rem;
}



/* ADDING NEW STYLES */



.button1{
	
	display: block;
	margin-top: 500px;
	margin-left: 300px;
	width: 200px;
	background: #00AEEA;
	font-size: 1.5em;
	color: #FFF;
	border: none;
	border-radius: 6px;
	cursor: pointer;


}
.button2{
	float: right;
	display: block;
	margin-top: 500px;
	
	width: 200px;
	background: #00AEEA;
	font-size: 1.5em;
	color: #FFF;
	border: none;
	border-radius: 6px;
	cursor: pointer;


}


/***********************************************FIGMA************************************************/

#mainBox
{ 
	float: right;
	margin-right: 0px;

	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:#FF7E9D;
	opacity:1;
	width: 820px;
	height: 1024px;
}

#sideCol { 
	margin-top: 0px;
	box-shadow:3px 4px 3px rgba(0, 0, 0, 0.25);
	background-color:#FFDEE6;
	opacity:1;
	width:400px;
	height:1024px;
}


#sideHeader{ 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:#FF7798;
	opacity:1;
	width:25rem;
	height:91px;
}

#sideHeaderText 
{ 
	
	position: absolute;
	
	font-family: Sansita;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 31px;
	margin-left: 70px;
	margin-top: 20px;
	align-items: center;
	text-align: center;

	color: #FFFFFF;

	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}


.levelSelect{
	
	margin-top: 50px;
	background: #FFDEE6;
	opacity:1;
	position: absolute;
	font-family: sans-serif;
	margin-left: 50px;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	color: #000000;

}



.home{
	
	position: relative;
	width: 114px;
	height: 61px;
	float : right;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-right: 20px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* ADDING NEW STYLES */

#main-head { 
	color:rgba(13.88475039973855, 13.387500531971455, 38.25000151991844, 1);
	opacity:1;
	width:982px;
	height:228px;
	font-family:Bungee Shade;
	text-align:center;
	font-size:125px;
	letter-spacing:-2;
	line-height:undefined;
}


#levels{
	margin-top: 50px;
	padding: 3px;
	font-size: 1em;
	font-family: Sans;
	color: #444;
	background: #F8F8F8;
	width: 300px;
	height: 50px;
	text-align: center;
	vertical-align: center;
	border: 0.5px solid #CECECE;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #CCC;
}

#levels td {
	
	font-family: 'Balsamiq Sans', cursive;
	border-collapse:collapse;
	border-left: 1px solid #CCC;
}

#levels td:first-child {
	border-left: none;
}


#levels td {
	cursor: pointer;
	height: 95px;
	width: 95px;
}