<!DOCTYPE html>
<html>

<head>
    <!--
		Tic Tac Toe with Minimax AI Algorithm
		-->
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="tic-tac-toe.png" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="static/css/style.css" />
    <script type=src="script.js"></script>
    <title> Microsoft Team : ROCKET</title>


</head>


<body>

  <div id="mainBox">
    <div id="header">
        Tic-Tac-Toe <br>Microsoft Team : ROCKET
    </div>
    
    <p id="message" class="win-message">You Won</p>
   
    <script type=text/javascript>
      $(function() {
			 $('a#1,a#2,a#3,a#4,a#5,a#6,a#7,a#8,a#9').bind('click', function() {
          var buttonID = this.id;                     
				 $.getJSON('/number'+buttonID, {                   
                                            
       }, 
       function(data) 
        {                      
          for(var i=1;i<=9;i++){
            $("a#"+ String(i)).text(data.result[i]);
          }
				});
			  });
			});
		</script>


    <table id="tab-tic-tac-toe" cellspacing="0">
        <tr>
            <td><a href=# id=1><button class="common-button">first</button></a></td>
            <td><a href=# id=2><button class="common-button">first</button></a></td>
            <td><a href=# id=3><button class="common-button">first</button></a></td>
        </tr>
        <tr>
            <td><a href=# id=4><button class="common-button">first</button></a></td>
            <td><a href=# id=5><button class="common-button">first</button></a></td>
            <td><a href=# id=6><button class="common-button">first</button></a></td>
        </tr>
        <tr>
            <td><a href=# id=7><button class="common-button">first</button></a></td>
            <td><a href=# id=8><button class="common-button">first</button></a></td>
            <td><a href=# id=9><button class="common-button">first</button></a></td>
        </tr>
        <br>
        <br>
    </table>
    <div>
    
    <a href=# id="start"><button class="button1">AI Start</button></a>
    </div>
</div>

      <div id="sideCol">
        <div id="sideHeader">
          <span id="sideHeaderText">Tic-Tac-Toe </span>
        </div>
        <div class="levelSelect">Choose your Level
          <table id="levels">
            <tr>
              <td><a href=# id=level-1><button class="level-button">1</button></a></td>
              <td><a href=# id=level-2><button class="level-button">2</button></a></td>
              <td><a href=# id=level-3><button class="level-button">3</button></a></td>
              <td><a href=# id=level-4><button class="level-button">MAX</button></a></td>
            </tr>
          </table>
        </div>
      </div>

   
    
  
       

</body>

</html>
