<!DOCTYPE html>
<html>

<head>
    <!--
		Tic Tac Toe with Minimax AI Algorithm
		-->
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="tic-tac-toe.png" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="static/css/style.css" />
    <script type=src="script.js"></script>
    <title> Microsoft Team : ROCKET</title>


</head>


<body>

  <div id="mainBox">
    <div id="header">
        Tic-Tac-Toe <br>Microsoft Team : ROCKET
    </div>
    
    <p id="message" class="win-message">You Won</p>
   
    <script type=text/javascript>
      $(function() {
        $('a#num-1').bind('click', function() {
          $.getJSON('/background_process', {}, 
            function(data) 
            {
                $("a#num-" + String(data.result)).text(data.result);
            });
            return false;
          });
			});
		</script>

    <table id="tab-tic-tac-toe" cellspacing="0">
        <tr>
            <td><a href=# id=num-12><button class="common-button">first</button></a></td>
            <td><a href=# id=num-1><button class="common-button">first</button></a></td>
            <td><a href=# id=num-1><button class="common-button">first</button></a></td>
        </tr>
        <tr>
            <td><a href=# id=num-1><button class="common-button">first</button></a></td>
            <td><a href=# id=num-1><button class="common-button">first</button></a></td>
            <td><a href=# id=num-1><button class="common-button">first</button></a></td>
        </tr>
        <tr>
            <td><a href=# id=num-1><button class="common-button">first</button></a></td>
            <td><a href=# id=num-1><button class="common-button">first</button></a></td>
            <td><a href=# id=num-1><button class="common-button">first</button></a></td>
        </tr>
        <br>
        <br>
    </table>
    <div>
    <a href=# id="bnt-restart"><button class="button1">AI Start</button></a>
    </div>
</div>

      <div id="sideCol">
        <div id="sideHeader">
          <span id="sideHeaderText">Tic-Tac-Toe </span>
        </div>
        <div class="levelSelect">Choose your Level
          <table id="levels">
            <tr>
              <td><a href=# id=num-1><button class="level-button">1</button></a></td>
              <td><a href=# id=num-1><button class="level-button">2</button></a></td>
              <td><a href=# id=num-1><button class="level-button">3</button></a></td>
              <td><a href=# id=num-1><button class="level-button">MAX</button></a></td>
            </tr>
          </table>
        </div>
      </div>

   
    
  
       

</body>

</html>