<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="static/css/style2.css" />
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>

        <div id="matrix"><div class="w3-container w3-center w3-animate-right" id="top-mat"></div></div>
        <header class="w3-center w3-animate-bottom" >TIC-TAC-TOE</header>
        <div class="w3-center w3-animate-right" id="tilt-matrix"></div>
        <div id="play-button"> <a href="/index">PLAY<img src="/static/images/play.png" style='height: 100%; width: 100%; object-fit: contain' alt=""></a></div>


    
</body>
</html>